/*Color Palette*/
:root {
	--bg : #ffffff;
	--mn : #4f4789;
	--cta : #f6ae2d;

	--bgdark : #0C0C1D;
	--mndark : #EBEBEB;
	--ctadark : #59C3C3;
}

/*Selection*/
::selection { background-color: var(--cta); color: white; }

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap');

/*Dark Theme*/
.dark-theme {
	background-color: var(--bgdark) !important;
	color: var(--mndark) !important;
}
.dark-theme a {
	color: var(--ctadark) !important;
}

body {
	background-color: var(--bg);
	color: var(--mn);
	
	padding: 0;
	margin: 0;
	text-align: center;
	/*font-size: 4vw;

	height: 60vh;*/
}
a {
	color: var(--cta);
}

/*div {
	height: 100%;
	background-image: url(Images/comingsoon.jpg);
	background-size: cover;
	margin: 0;
	padding: 20vh;

	filter: brightness(70%);
	filter: blur(.5px);

	color: var(--bg);

	font-family: 'Raleway', sans-serif;
}*/

/*Header*/
#main-header {
	height: 105vh;
	max-width: 100%;
	font-family: 'Raleway';
}
#main-header img {
	max-width: 100%;
	position: fixed;
}
#hd {
	position: sticky;
	text-align: center;
	padding-top: 18%;
	font-weight: bolder;
	text-shadow: .1vh .1vh var(--cta);
	color: var(--bg);
}

/*Theme Button*/
#toggle {
	position: fixed;
	top: 1vh;
	right: 1vh;
	font-family: 'Lato';
	color: var(--mn);
	/*background-color: var(--cta);*/
	background-color: transparent;
	border: none;
	border-radius: 50%;
	padding: auto;
	transition: transform 2s ease;
}

#toggle:hover {
	transform: rotate(360deg);
}


/*Navigation Button*/
#nav-btn {
	position: fixed;
	top: 2vh;
	left: 2vh;
	background-color: transparent;
	color: white;
	font-family: 'Raleway';
	font-size: 2vw;
	/*transition: text-shadow .5s ease-in-out;*/
	transition: border 1s ease-out;
}

#nav-btn:hover {
	/*text-shadow: .1vh .1vh 1vh var(--mn);*/
	border: 1px solid var(--cta);
}


/*Navigation*/
#cancel {
	border: none;
	background-color: transparent;
	transition: transform 1s;
}

#cancel:hover {
	transform: rotate(180deg);
}

.nav-list a {
	text-decoration: none;
	color: var(--mn);
	display: block;
	margin: 3vh;
	font-size: 1.75vw;
	border-bottom: 1px solid transparent;
	transition: border-bottom .4s ease-out;
	font-family: 'lato';
}

.nav-list a:hover {
	border-bottom: 1px solid var(--mn);
	color: var(--mn);
}

.nav-list {
	list-style: none;
}

div#navigation {
	background-color: var(--bg);
}

.offcanvas h1 {
	font-family: 'Raleway';
	font-size: 2.5vw;
	color: var(--mn);
}


/*Footer*/
#footer {
	height: 50vh;
	max-width: 100%;
	background-color: var(--mn);
	color: var(--bg);
	font-family: 'lato';
	font-size: 1.5vw;
	padding: 3vh 5vh;
	position: relative;
}

#trademark {
	text-align: center;
	margin-top: 7vh;
}

#trademark a{
	color: var(--bg);
}
#trademark a:hover {
	color: var(--cta);
}

#social-media a{
	display: inline-block;
	text-decoration: none;
	margin: 5vh 3vh;
	color: var(--bg);
}

#social-media { text-align: center; }