/*Color Palette*/
:root {
	--bg = #ffffff
	--mn = #4f4789
	--cta = #f6ae2d

	--bgdark = #0C0C1D
	--mndark = #EBEBEB
	--ctadark = #59C3C3
}

.dark-theme {
	background-color: var(--bgdark);
	color: var(--mndark);
}
.dark-theme a {
	color: var(--ctadark);
}

body {
	background-color: var(--bg);
	color: var(--mn);
}
a {
	color: var(--cta);
}