/*Color Palette*/
:root {
	--bg : #ffffff;
	--mn : #4f4789;
	--cta : #f6ae2d;

	--bgdark : #0C0C1D;
	--mndark : #EBEBEB;
	--ctadark : #59C3C3;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

.dark-theme {
	background-color: var(--bgdark);
	color: var(--mndark);
}
.dark-theme a {
	color: var(--ctadark);
}

body {
	background-color: var(--bg);
	color: var(--mn);
	
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 4vw;
	
	height:60vh;
}
a {
	color: var(--cta);
}

div {
	height: 100%;
	background-image: url('/Images/comingsoon.jpg');
	background-size: cover;
	margin: 0;
	padding: 20vh;
	filter: brightness(70%);
	filter: blur(.5px);
	
	color:var(--bg);
	font-family:'Raleway', sans-serif;
}
